# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE / Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Python egg & distribution files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
lib/
lib64/

# Testing
.pytest_cache/
.coverage
.tox/
nosetests.xml
coverage.xml
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Cache
*.cache
